.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resume {
  width: 75vw;
}

.project-list {
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  font-size: 24px;
}

.project-image {
  width: 20vw;
}

.nav-left {
  width: 33vw;
}

.nav-right {
  justify-content: space-around;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.resume {
  height: 100vh;
}

iframe {
  border: none;
  overflow: hidden;
}
